# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

# Flask
instance/
.webassets-cache

# Node.js (por si usas JavaScript)
node_modules/
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log

#OTROS
*.bak